@import "tailwindcss";

/* 기본 body 스타일 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 회전 애니메이션 (느리게) */
@layer utilities {
  .animate-spin-slow {
    animation: spin 5s linear infinite;
  }
}

@keyframes spreadFade {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@layer utilities {
  .animate-spreadFade {
    animation: spreadFade 0.5s ease forwards;
  }
}
